<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃B</title>
    <link rel="stylesheet" href="./css/layoutB.css">
</head>

<body>
    <header>
        <div class="logo">로고</div>
        <div class="nav">메뉴</div>
    </header>
    <div class="main">
        <div class="slideContent">slideContent</div>
        <div class="content">
            <div class="con1">con1</div>
            <div class="con2">con2</div>
            <div class="con3">con3</div>
        </div>
    </div>
    <footer>
        <div class="inner">
            <div class="f1">f1</div>
            <div class="f2">회사주소</div>
            <div class="f3">f3</div>
        </div>
    </footer>
</body>

</html>