@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

header {
    height: 100px;
    background-color: bisque;
}

.slideContent {
    height: 300px;
    background-color: aqua;
}

.content {
    height: 200px;
    background-color: rgb(218, 218, 253);
}

/* 푸터 ----------------------------------*/
footer {
    display: flex;
    height: 100px;
    align-items: center;
    background-color: azure;
}

footer .footerLogo {
    display: block;
    width: 200px;
    height: 40px;
    font-size: 0px;
    color: transparent;
}

footer p {
    width: 70%;
    text-align: center;
}

footer .sns a img {
    display: inline-block;
    width: 20px;
    margin-left: 20px;
}